Repository sekibuuun/Devitch: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, format, gofmt

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      root: "frontend/"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: yarn eslint {staged_files}
    format:
      root: "frontend/"
      glob: "**/*.{js,ts,jsx,tsx}"
      run: bun run format {staged_files}
    gofmt:
      root: "backend/"
      glob: "**/*.go"
      run: go fmt {staged_files}

bun i
  frontend/bun.lockb
Due: none

fix: lefthook
  lefthook.yml
Due: none

feat: hellohandler
  backend/go.mod
  backend/go.sum
  backend/main.go
Due: gofmt

feat: get hellohandler
  frontend/src/app/page.tsx
Due: eslint, format

add common folder
  frontend/biome.json
Due: none

fix: headerの適用
  frontend/src/app/layout.tsx
Due: eslint, format

add: header作成[wip]
  frontend/src/components/common/Header/Header.tsx
Due: eslint, format

fix: package.jsonを除外
  frontend/biome.json
Due: none

add UI library
  frontend/bun.lockb
  frontend/package.json
Due: none

add: signin 画面
  frontend/src/app/signin/page.tsx
  frontend/src/components/common/Header/Header.tsx
  frontend/src/components/ui/avatar.tsx
Due: eslint, format

fix: cors
  backend/main.go
Due: gofmt

fix: hellohandlerの取得
  frontend/src/app/page.tsx
Due: eslint, format

記述の追加
  .gitignore
Due: none

add: mysql_server
  compose.yaml
Due: none
